body {
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #636b70;
  font-size: 16px;
  line-height: 22px;
}
img {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  border-radius: 50px;
}
.text {
  position: relative;
  display: inline-block;
  vertical-align: top;
  background: #eeefeb;
  width: calc(100% - 168px);
  border-radius: 5px;
  padding: 0 20px;
  box-sizing: content-box;
}
.text:before {
  content: '';
  position: absolute;
  top: 35px;
  left: -15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #eeefeb transparent transparent;
}
small {
  font-size: 12px;
}
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  font-weight: bold;
  color: #6a9000
  text-decoration: none
  cursor: pointer
}
a:hover,
a:focus {
  text-decoration: underline
}
