---
layout: error_page
title_de: "betterplace.org: Seite ist nicht verfügbar (Interner Fehler 5xx)"
title_en: "betterplace.org: Website not available (Internal Error 5xx)"
tracking: 429-page
---
<div class="text de">
  <h1>Fehler 429 (zu viele Anfragen)</h1>
  <h2>Sorry, die Seite erhält aktuell zu viele Anfragen.</h2>
  <p>Probiere es in ein paar Minuten noch einmal.</p>
  {% include url_insert.html %}
  {% include imprint_de.html %}
</div>
<div class="text en">
  <h1>Error 429 (too many requests)</h1>
  <h2>We're sorry, the webpage is currently getting too many requests.</h2>
  <p>Please try again in a few minutes.</p>
  {% include url_insert.html %}
  {% include imprint_en.html %}
</div>
