---
layout: error_page
title_de: "betterplace.org: Zugriff verweigert"
title_en: "betterplace.org: Access denied"
tracking: denied-page
---
<div class="text de">
  <h1>Zugriff verweigert</h1>
  <h2>Der Zugriff wurde aus Sicherheitsgründen blockiert.</h2>
  <p>Falls das ein Fehler ist, kontaktiere den Support.</p>
  {% include imprint_de.html %}
</div>
<div class="text en">
  <h1>Access denied</h1>
  <h2>Access has been blocked for security reasons.</h2>
  <p>If this is an error, contact our support.</p>
  {% include url_insert.html %}
  <p><a class="btn" href="https://www.betterplace.org/en/">Go to homepage</a></p>
  {% include imprint_en.html %}
</div>
